.banner-container {
    position: relative;
    width: 100%;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.top-right {
    position: absolute;
    width: 35%;
    top: 5%;
    right: 0px;
    text-align: center;
}

.img-fluid {
    width: 100%;
    position: relative;
    height: auto;
}

.navigation-bar {
    position: relative;
    top: 5%;
    right: 10%;
}

.nav-container {
    text-align: center;
    width: 10%;
    size: 15px;
}

.prediction-container {
    margin-left: 5%;
    margin-right: 2%;
}

.left-container {
    width: 10%;
    left: 0;
    padding-top: 20px;
}

.right-container {
    width: 80%;
    right: 0;
    padding-top: 20px;
}

.form-control{
    width: 120px !important;
    border: 1px solid #f1575f !important;
    border-radius: 5px !important;
    font-size: 14px !important;
    height: 45px !important;
    padding: 10px !important;
    width: 120px !important;
    margin-bottom: 5px;
}


.styled-select select {
    background: transparent !important;
    border: 1px solid #f1575f !important;
    border-radius: 5px !important;
    font-size: 14px !important;
    height: 45px !important;
    padding: 10px !important;
    width: 120px !important;
    margin-bottom: 5px;
}

.button {
    height: 45px !important;
    width: 120px !important;
}

a {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    color:#f1575f;
}
  
  a.grow::after {
    content:"";
    height:4px;
    width:0;
    background-color:#f1575f;
    position:absolute;
    bottom:0;
    left:0;
    transition:width 500ms ease;
  }
  
  a.grow:hover::after {
    width:100%;
    text-decoration: none;
  }

  a.grow:link, a.grow:hover {
      text-decoration: none;
  }

  a.grow:hover {
    text-decoration: none;
}

a.grow:visited{
    text-decoration: none ;
    color: white;
}

a.grow:visited > hover{
    text-decoration: none ;
    color: white;
}

.select-year {
    border: 1px solid coral;
}

.select-year:hover {
    background-color: none;
}

.banner {
    margin-right: 0;
    margin-left: 0;
    width: inherit;
    background: orangered;
    padding: 50px;
    text-align: left;
}

.navbar-form {
    text-align: right;
}

header {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    color:#f1575f;
}
  
    /* header.grow::after {
        content:"";
        height:4px;
        width:0;
        background-color:#f1575f;
        position:absolute;
        bottom:0;
        left:0;
        transition:width 500ms ease;
    }
  
    header.grow:hover::after {
        width:100%;
        text-decoration: none;
    }

    header.grow:link, a.grow:hover {
        text-decoration: none;
    }

    header.grow:hover {
        text-decoration: none;
    }

    header.grow:visited{
        text-decoration: none ;
        color: white;
    } */

    /* header.grow:visited > hover{
        text-decoration: none ;
        color: white;
    } */

